@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&display=swap');
#root{
  background-color: #050a30;
}
.hero{
  font-weight:700;
  
}
img{
  width: 50px;
}
.container-hero{
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
h1,h2,h3,p,em, footer, label, input,sub, div{
  color: white;
  font-family: 'Poppins', 'sans-serief';
}
em{
  font-style: normal;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.total{
  width: 90%;
}
.img-card{
background:rgb(164, 221, 254);
padding: .75em;
border-radius: 50%;
margin: .5em;

}
.hero > p{
  text-align: center;
}
.img{
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.img > img{
  margin-top: 1em;
  border-radius: 12px;
  width: 70%;
}
.main > h2{
  text-align: center;
  
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 500px; */
}
.slide {
  height: 500px;
  width: 50vw;
  border-radius: 40px;
  display: inline-block;
}
.slideshowSlider{
 
  white-space: nowrap;
}
.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-image > img{
width: 70%;
border-radius: 20px;
}

h2{
  font-size: 2em;
}

/* card */

.benefits{
  display: flex;

flex-direction: column;
  justify-content: space-evenly;
/* width: 80%; */
align-items: center;
}
.benefits-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.card{
width: 90%;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 1em;
}
.fact{
  font-style: italic;
  text-align: center;
}
.card > p{
 
text-align: center;
  /* max-width: 450px; */
}
h3{
  margin: 0;
}
.bg{
position: relative;
z-index: 1;
  width: 100%;
}
.caption{
  position: relative;
  color: red;
  z-index: 2;
}

.slides{
  border: 2px solid rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}
.nav-list{
  display: none;
}
.display, .view{
  display: flex;
}
.view{
  background-color: rgb(202, 233, 245);
  border-radius: 10px;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  justify-content: flex-end;

}
.view li > a{
font-weight: 700;
margin: 1em;
padding-top: 1em;
  color: #050a30;
}
.view > li{
  margin: .5em; 
}
.hero-text{
  border-bottom: 3px solid skyblue;
}
b{
  text-transform: uppercase;
  font-weight: 700;
 color: skyblue;
}
.slideshow{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

li{

  list-style: none;
}
a{
  text-decoration: none;
}
nav{
  justify-content: space-between;
  display: flex;
  padding: 1em .5em;
  margin-top: 1em;
}
/* Signin */
.container, form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  width: 100%;
}
form > div{
margin: 1em 0;
}
/* .upload, .demo{
  margin: 1em 0;
} */

form > h3{
  padding: 0em 1em ;
}
.radio{
  display: flex;
}
.header{
  text-align: center;
}
.overall{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* desktop */
/* form > input {
  width: 30%;

} */
.text-type > span > div{
  transition: 2s ease-in-out;
}

input[type="submit" i]{
  border-radius: 10px;
  background-color: rgb(56, 56, 249);
  color: white;
  margin: 2em 0;
}
input[type="submit" i]:disabled{
  background-color: gray !important;
    opacity: .5;
  }
.btn:hover{
border-radius: 0;
}
label{
  display: flex;
  width: 80%;
  margin: 1.5em 0em;
justify-content: left;}
form > input, select {
  width: 80%;
padding: 1em .5em;
border-radius: 10px;
border: none;
} 
.img-menu{
  background-color: rgba(164, 221, 254);
  padding: .3em;
  border-radius: 10px;
}
.radio-form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 1em;
}
.upload{
  width: 90%;
  display: flex;
}
/* who we are */
h2{
  text-align: center;
}
.about-us{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-us > p{
  margin: 2em 0;
  text-align: center;
}
q{
  font-weight: 200;
  
}
/* ipfs */
.IPFs{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* footer */

footer{
  background-color: black;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
ul{
  padding: 0;
}
h6{
  margin: .6em;
}
/* file upload */

.uploadFile > div > input{
  width: 80%;
  padding: 1em 0.5em;
}
.uploadbtn{
  margin: 1.5em 0;
}
button:hover{
  background: none;
  border: none;
  padding-bottom: 1em;
  border-bottom: skyblue 2px solid;
transition: 0.15s ease-in-out;
  color: white;
  border-radius: 0;
}

button{
  padding: 0.5em 0.85em;
  color: #050a30;
  background-color: skyblue;
  font-weight: 500;
  border-radius: 3px;
  border: none;
 
}
.wallet{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 650px) {
  footer{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    
  }

  .hero-main{
    display: flex;
    flex-direction: row;
  }
  .img-menu{
    display: none;
  }
  logo{
    display: block;
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  .IPFs{
    margin: 5em 0;
  }
  .nav-list{
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
  .nav-list > li > a {
    color: skyblue;
    font-size: 0.9em;
  }
  .nav-list > li > a:hover {
    border-bottom:2px solid skyblue ;
    margin-bottom: .7em;
  transition: .05s ease-in-out;
  }
  .hero-main > .hero, .img{
width: 50%;
  }
 h2{
  text-align: left;
 }
.about-us{
  width: 50%;
}
.card-container{
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
}
.card > p{
  margin: 0;
}
  .main{
    text-align: center;
  }
 
  .about-us > p{
    text-align: left;
    margin: 1em 0;
  }
  .hero > p, .card > p{
    text-align: left;
  }
  .hero > h1{
    font-size: 4em;
  }
  .benefits{
    flex-direction: row;
    flex-wrap:wrap ;
  }
  .card{
    width: 20%;
  }
  .card > div{
    display: flex;
   justify-content: flex-start;
  
  }
  /* upload */
  .uploadhead{
    text-align: center;
    }
    .uploadFile{
      display: flex;
      width: 100%;
      justify-content: center;
    align-items:center;
    }
    .uploadFile > label{
      width: 
      25%;
    }
    .uploadFile > div {
      width: 80%;
    }
    .uploadFile > div > input{
      width: 100%;
      padding: 1em 0.5em;
    }
    .wallet{
      display: flex;
      justify-content: space-between;
    }
    .preview{
      margin: 1.5em 0;
    }
    button{
      background: none;
      border: none;
      padding-bottom: 1em;
      border-bottom: skyblue 2px solid;
    
      color: white;
    }
    .about-container{
      display: flex;
      justify-content: space-between;
      
      }
      .about-container > .hero-img{
        width: 50%;
      }
      .about-container > div > img{
        width: 60%;
        
        border-radius: 15px;
       
      }
      .hero-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
      }
    .file{
      width: 100%;
      margin: 1em;
      display: flex;
      justify-content: space-between;
    }
    .file > label{
      width: 30%;
    }
    button:hover{
      padding: 0.5em 0.85em;
      color: #050a30;
      background-color: skyblue;
      font-weight: 500;
      border-radius: 3px;
      border: none;
      transition: 0.5s ease-in-out;
    }
    #setType{
      margin: 1.5em 0;
    }
    .uploadbtn{
      display: flex;
      justify-content: space-between;
    }
}